<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SymptomAI</title>

    <link rel='stylesheet' href="{{ url_for('static',filename='style.css') }}" />
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="static/images/logo.png">
            <a href="/" class="roboto-mono">SymptomAI</a>
        </div>
        <nav>
            <ul>
                <li class="b"><a href="/">Home</a></li>
                <li class="b"><a href="/#about">About</a></li>
                <li class="b"><a href="/test">AI Test</a></li>
                <li class="b"><a href="/reports">Reports</a></li>
                {% if 'user_id' in session %}
                <li class="b"><a href="/logout">Logout</a></li>
                {% else %}
                <li class="b"><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- SweetAlerts -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>