{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 style="text-align: center; margin-bottom: 20px;">Parkinson's Disease Prediction</h1>
    <form method="POST" style="max-width: 500px; margin: 0 auto;" id="parkinsonsForm">
        <div class="form-group">
            <label for="fo">MDVP:Fo(Hz):</label>
            <input type="text" id="fo" name="fo" class="form-control">
        </div>
        <div class="form-group">
            <label for="fhi">MDVP:Fhi(Hz):</label>
            <input type="text" id="fhi" name="fhi" class="form-control">
        </div>
        <div class="form-group">
            <label for="flo">MDVP:Flo(Hz):</label>
            <input type="text" id="flo" name="flo" class="form-control">
        </div>
        <div class="form-group">
            <label for="Jitter_percent">MDVP:Jitter(%):</label>
            <input type="text" id="Jitter_percent" name="Jitter_percent" class="form-control">
        </div>
        <div class="form-group">
            <label for="Jitter_Abs">MDVP:Jitter(Abs):</label>
            <input type="text" id="Jitter_Abs" name="Jitter_Abs" class="form-control">
        </div>
        <div class="form-group">
            <label for="RAP">MDVP:RAP:</label>
            <input type="text" id="RAP" name="RAP" class="form-control">
        </div>
        <div class="form-group">
            <label for="PPQ">MDVP:PPQ:</label>
            <input type="text" id="PPQ" name="PPQ" class="form-control">
        </div>
        <div class="form-group">
            <label for="DDP">Jitter:DDP:</label>
            <input type="text" id="DDP" name="DDP" class="form-control">
        </div>
        <div class="form-group">
            <label for="Shimmer">MDVP:Shimmer:</label>
            <input type="text" id="Shimmer" name="Shimmer" class="form-control">
        </div>
        <div class="form-group">
            <label for="Shimmer_dB">MDVP:Shimmer(dB):</label>
            <input type="text" id="Shimmer_dB" name="Shimmer_dB" class="form-control">
        </div>
        <div class="form-group">
            <label for="APQ3">Shimmer:APQ3:</label>
            <input type="text" id="APQ3" name="APQ3" class="form-control">
        </div>
        <div class="form-group">
            <label for="APQ5">Shimmer:APQ5:</label>
            <input type="text" id="APQ5" name="APQ5" class="form-control">
        </div>
        <div class="form-group">
            <label for="APQ">MDVP:APQ:</label>
            <input type="text" id="APQ" name="APQ" class="form-control">
        </div>
        <div class="form-group">
            <label for="DDA">Shimmer:DDA:</label>
            <input type="text" id="DDA" name="DDA" class="form-control">
        </div>
        <div class="form-group">
            <label for="NHR">NHR:</label>
            <input type="text" id="NHR" name="NHR" class="form-control">
        </div>
        <div class="form-group">
            <label for="HNR">HNR:</label>
            <input type="text" id="HNR" name="HNR" class="form-control">
        </div>
        <div class="form-group">
            <label for="RPDE">RPDE:</label>
            <input type="text" id="RPDE" name="RPDE" class="form-control">
        </div>
        <div class="form-group">
            <label for="DFA">DFA:</label>
            <input type="text" id="DFA" name="DFA" class="form-control">
        </div>
        <div class="form-group">
            <label for="spread1">spread1:</label>
            <input type="text" id="spread1" name="spread1" class="form-control">
        </div>
        <div class="form-group">
            <label for="spread2">spread2:</label>
            <input type="text" id="spread2" name="spread2" class="form-control">
        </div>
        <div class="form-group">
            <label for="D2">D2:</label>
            <input type="text" id="D2" name="D2" class="form-control">
        </div>
        <div class="form-group">
            <label for="PPE">PPE:</label>
            <input type="text" id="PPE" name="PPE" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Predict</button>
    </form>
    {% if result %}
    <div class="result-container" style="margin-top: 20px; text-align: center;">
        <p class="result-text">{{ result }}</p>
    </div>
    {% endif %}
    
<script>
    document.getElementById("parkinsonsForm").addEventListener("submit", function(event) {
        var formValid = true;
        var formFields = this.elements;
        
        for (var i = 0; i < formFields.length; i++) {
            if (formFields[i].type === "text" && formFields[i].value.trim() === "") {
                formValid = false;
                break;
            }
        }

        if (!formValid) {
            alert("Please fill in all fields.");
            event.preventDefault(); // Prevent form submission
        }
    });
</script>
{% endblock %}
