ul{
    display: flex;
    justify-content: center;
}

.result-container {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-text {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}